
.container {
  display: flex;

  justify-content:space-around;
  align-items: center;
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.titulo1{
  color: #003B95;
  font-weight: 900;
}


.imagem {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.imagem img {
  width: 100%;
  border-radius: 5px;
}

.texto {
  flex-basis: 50%;
}

.texto p{
  margin-top:30px;
}

@media (max-width: 767px) {
  
  .container {
    flex-direction: column;
  }

  .imagem {
    flex-basis: 100%;
  }

  .texto {
    flex-basis: 80%;
    margin-bottom: 20px;
  }
}

